file-storage:
  upload-dir: ./uploads

spring:
  application:
    name: Hotel4ma
  datasource:
    url: jdbc:mysql://localhost:3306/pihotel
    username: ${db_username}
    password: ${db_password}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      pool-name: HikariCP
      maximum-pool-size: 60        # Pool de conex천es maior para teste de Stress - 10 pool padr찾o
      minimum-idle: 10
      idle-timeout: 30000          # 30s
      connection-timeout: 30000    # 30s para pegar uma conex찾o
      max-lifetime: 1800000        # 30 min (evita conex천es zumbis do MySQL)
      auto-commit: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  jackson:
    default-property-inclusion: non_null
  main:
    banner-mode: off
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${client_id}
            client-secret: ${client_secret}
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
            scope:
              - openid
              - email
              - profile

server:
  port: 8081
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: "*"

  metrics:
    tags:
      application: ${spring.application.name}


